{% extends "base.html" %}
{% load static crispy_forms_tags crispy_forms_filters %}

{% block title %}Troy - {{ object.name }}{% endblock %}

{% block content %}
    <div class="row class">
        <div class="row turquoise class-header">
            {{ object.name }} ({{ object.get_short_name }})
        </div>
        <div class="row class-body">
            <div class="col-4 class-info">
                <div class="card text-white bg-dark border-light">
                    <div class="card-body border-light">
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                    <div class="card-footer border-light">
                        <small>Teacher: <img src="{{ object.teacher.avatar.url }}" class="user-icon" alt="Icon"> {{ object.teacher }}</small>
                    </div>
                    <div class="card-footer border-light">
                        <small>Number of students: {{ object.number_of_members }}</small>
                    </div>
                    <div class="card-footer border-light">
                        <small>Started on: {{ object.started_on }}</small>
                    </div>
                </div>
            </div>
            <div class="col-8 class-lessons">
                <h3 class="margin-1">
                    Number of lessons: <span class="badge turquoise">{{ lessons.count }}</span>
                    {% if object.teacher == request.user %}
                        <button class="btn navbar-btn border-2 turquoise float-end" id="createLessonBtn" onclick="location.href = '{% url "lessons:create" %}'"><i class="fa fa-plus" aria-hidden="true"></i> Create Lesson</button>
                    {% endif %}
                </h3>
                <div class="card-deck">
                    {% for lesson in lessons %}
                        <div class="card text-white bg-dark border-light" id="class-{{ lesson.pk }}">
                            <div class="card-body border-light">
                                <h4 class="card-title">{{ lesson.title }}</h4>
                                <h6 class="card-title">Class: {{ lesson.teaching_class }}</h6>
                            </div>
                            <div class="card-footer border-light">
                                <small>Created on: {{ lesson.date_created }}</small><br>
                                <small>Last edit on: {{ lesson.date_edited }}</small>
                            </div>
                            <div class="card-footer border-light">
                                <div class="float-end">
                                    {% if lesson.user == request.user %}
                                        <button class="btn btn-sm turquoise border-2" onclick="location.href = '{% url "lessons:edit" lesson.pk %}'"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                                    {% endif %}
                                    <button class="btn btn-sm turquoise border-2" onclick="location.href = '{% url "lessons:view" lesson.pk %}'"><i class="fa fa-folder-open" aria-hidden="true"></i> Access</button>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p><strong>The class does not have any lessons yet.</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
