{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Troy - Lesson{% endblock %}

{% block content %}
    <div class="row h-75">
        <div class="col-md-5 border border-5 border-secondary h-100 p-0">
            <canvas id="canvas">
                <p class="noscript">We're sorry, this web application is currently not supported with your browser. Please use an alternate browser or download a supported <br />browser. Supported browsers: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.opera.com">Opera</a>, <a href="http://www.mozilla.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, <br />and <a href="http://www.konqueror.org">Konqueror</a>. Also make sure your JavaScript is enabled.</p>
            </canvas>
        </div>
        <div class="col-md-2 border border-5 border-secondary h-100">
            <div class="row justify-content-center h-50">
                <div class="row justify-content-center" id="color-options">
                    <p class="text-md-center fw-bolder">- Color -</p>
                    <!-- We will be accessing the data-clr in JQuery -->
                    <button type="button" class="btn btn-dark btn-circle btn-outline-dark btn-sm m-1 clr" data-clr="#000"></button>
                    <button type="button" class="btn btn-danger btn-circle btn-outline-dark btn-sm m-1 clr" data-clr="#EF626C"></button>
                    <button type="button" class="btn btn-warning btn-circle btn-outline-dark btn-sm m-1 clr" data-clr="#fdec03"></button>
                    <button type="button" class="btn btn-success btn-circle btn-outline-dark btn-sm m-1 clr" data-clr="#24d102"></button>
                    <button type="button" class="btn btn-light btn-circle btn-outline-dark btn-sm m-1 clr" data-clr="#fff"></button>
                </div>
                <div class="row justify-content-center">
                    <p class="text-md-center fw-bolder">- Pen size -</p>
                    <input type="range" class="form-range" value="3" min="1" max="5" step="0.5" id="penSize">
                    <p class="text-md-center fw-bolder">- <output id="penSizeText">3</output> -</p>
                </div>

                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-primary btn-sm" id="clearBtn"><i class="fa fa-trash" aria-hidden="true"></i> Clear</button>
                </div>
                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-primary btn-sm" id="addImageBtn"><i class="fa fa-image" aria-hidden="true"></i> Add image</button>
                </div>
                <div class="row justify-content-center m-1">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p>“I am still learning.”</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="Source Title">Michelangelo</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row h-25 justify-content-center">
                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-success btn-sm" id="listenBtn"><i class="fa fa-microphone" aria-hidden="true"></i> Listen</button>
                </div>
                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-danger btn-sm" id="stopBtn" disabled><i class="fa fa-microphone-slash" aria-hidden="true"></i> Stop</button>
                </div>
                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-primary btn-sm" id="addTextBtn"><i class="fa fa-font" aria-hidden="true"></i> Add transcribed text</button>
                </div>
                <div class="row justify-content-center m-1">
                    <button type="button" class="btn btn-secondary btn-sm" id="clearTextBtn"><i class="fa fa-trash" aria-hidden="true"></i> Clear transcribed text</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 border border-5 border-secondary p-0">
            <textarea id="editor" class="h-100"></textarea>
        </div>
    </div>
    <div class="row h-25 border border-5 border-secondary p-0">
        <textarea class="form-control h-100" placeholder="Transcribed text will be placed here...." id="transcribedText" disabled></textarea>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Troy</strong>
                <small id="toastTime">hmm</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastText">
                <p id="toastText">message</p>
            </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/transcription.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/u383nqfq5pnbhez5ke0m3b80y8l0cs7kn7si6mczlvnm350j/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#editor',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            resize: false
        })

        $("#addTextBtn").on("click", function () {
            var editor = tinymce.get('editor');
            var content = editor.getContent();
            let text = $("#transcribedText").val();
            if(text !== "") {
                editor.setContent(content + text);
                $("#transcribedText").val("");
            }
        });

        $("#clearTextBtn").on("click", function () {
            $("#transcribedText").val("");
        });
    </script>
{% endblock %}